<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554629087852-qcsikh9kim7an33bhnkht10bkekn8det.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554629087852-qcsikh9kim7an33bhnkht10bkekn8det</string>
	<key>API_KEY</key>
	<string>AIzaSyChZNEgKYcVPYIc2xj8a9iWmWdQblFT3UE</string>
	<key>GCM_SENDER_ID</key>
	<string>554629087852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.kimtaeky.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-c949</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-c949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554629087852:ios:9f2797502791e31a76ce49</string>
	<key>DATABASE_URL</key>
	<string>https://wasteagram-c949.firebaseio.com</string>
</dict>
</plist>